<!DOCTYPE html>
<html>
<head>
    <title>calculator</title>
</head>
<div class='content'>
    <div class='form'>
        <form action='/weatherapp' method='POST'>
            <label for='operation'>Enter the city</label>
            <input type='text' name='city' id='city'>
            <label for='operation'>Units</label>
            <input type='text' name='units' id='units'>
            <label for='operation'>Enter your api-key</label>
            <input type='text' name='key' id='key'>
            <input type='submit' value='Submit'>
        </form>
    </div>
</div>
</html>               
    